:root {
  --color-primary: #0073ff;
  --color-green: #144231;
  --color-orange: #a76b22;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Space Grotesk', sans-serif;

}

.logo {
  color: var(--color-white);
  font-size: 30px;
}

.logo span {
  color: var(--color-primary);
}
/* menu nav bar */
.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}
/* menu nav bar */
/* profile  bar */
.profile-bar {
  background-color: #FEFEFE;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.profile-bar ul {
  list-style: none;
  display: flex;
}

.profile-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.profile-bar ul li a {
  font-size: 20px;
  color: #7e7e7e;
  font-size: 14px;
  text-align: center;
  text-decoration: none;

  transition: all 0.3s;
}

.profile-bar ul li a:hover {
  color: #000;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.profile-bar img{
  border-radius: 50%;
  width: 100px;
}
/* event style */
.event_button{
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s ease;
  background-color: #219f45;
  border: 2px solid #219f45;
  color: #fff;
  font-size: 15px;
}
.event_button:hover{
  opacity: 0.8;
  
  transition: 0.3s ease;
}
/* event style */
/* matches style */
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.match-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    margin-bottom: 20px;
    gap: 10px;
    padding: 10px;
}

.match-container > div {
  background-color:#fff;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}
  .match-container button{
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: #219f45;
    border: 2px solid #219f45;
    color: #fff;
    font-size: 15px;
  }
  .match-container button:hover{
    opacity: 0.8;
    
    transition: 0.3s ease;
  }

/* matches style */



/* profile nav bar */
.hero {
  height: calc(100vh - 80px);
  background-image: #EEEEEE;
  background-position: center;
  flex-grow: 1;
}
main .container {
  width: 80%;
  margin: auto;
}
main .title {
  color: white;
  text-align: center;
  font-size: 30px;
}
/* cards */

.btn-primary {
  width: 50%;
  margin: auto;
  opacity: 0.8;
  transition: 0.5s;
}
.btn-primary:hover{
  transform: translateY(-10px);
  transition: 0.5s;
}
.bg-color-1 {
  background-color: var(--color-green);
  border-color: var(--color-green);
}
.bg-color-2 {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}
.bg-color-1:hover {
  background-color: var(--color-green);
  opacity: 0.8;
  
  border: none;
 
}
.bg-color-2:hover {
  background-color: var(--color-orange);
  opacity: 0.8;
  
  border: none;
 
}

h3,
h5 {
  color: rgb(0, 91, 228);
}
/* cards */
/* main */
main{
  margin-bottom: 13%;
}
main .title{
  text-align: center;
  font-weight: bold;
  color: black;
}

table tr,th{
  transition: 1s;
}
table tr:hover,th:hover{
  background: #F2F2F2;
  transition: 1s;
}
.container{
  width: 100%;
  margin: auto;
}
  /* Faq style */
  section{
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #141D28;
    cursor: pointer;
  }
  .question{
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
  .question h3{
    font-size: 1.2rem;
    color: black;
  }
  .answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
  }
  .answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1rem;
  }
  .faq.active .answer{
    max-height: 300px;
    transition: max-height 0.7s ease;

  }
  .info_line{
    text-align: center;
  }
  /* Faq style */
  /* about style */
  .about_title{
    text-align: center;
    color: black;
    margin-top: 45px;
  }
  .about_description{
    margin-bottom: 30px;
  }
  .about_section{
   margin-bottom: 50px;
  }
  .about_section_title{
    font-weight: bold;
    font-size: 18px;
    text-align: left;
  }
  /* about style */
  /* contact style */
  .contact_container{
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .contact_container h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  .contact_container form input ,
  .contact_container form textarea,
  .contact_container form select{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
  }
  .contact_container form input:focus ,
  .contact_container form textarea:focus,
  .contact_container form select:focus{
    outline: none;
    box-shadow: 0 0 5px #333;
  }
  .contact_container form button{
    display: block ;
    width: 100%;
    padding: 10px;
    border: 2px solid #141D28;
    border-radius: 5px;
    background-color: #141D28;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .contact_container form button:hover{
    background-color: #fff;
    color: #000;
    transition: 0.3s ease;
    border: 2px solid #000;
  }
  /* contact style */
  /* Home profile event section */
    .event_title{
      font-size: 25px;
      font-weight: bold;
    }
    .events{
      margin-bottom: 50px;
    }
    .events .event_content{
      width: 100%;
      height: 300px;
      background-color: white;
      margin-bottom: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .events .event_content .event_image{
      width: 42%;
      height: 300px;
      
      
    }
    .events .event_content .event_name{
      color: black;
      display: block;
      text-decoration: none;
    }
    .seperate{
      color: #141D28;
      font-size: 60px;
      margin: 10px;
      
    }
    .top{
      width: 30%;
    }
    .top_first{
      display: inline-block;
    }
    .top_first .google_icon_image{
      height: 20px;
    }
    .event_name_location{
      color: #7e7e7e;
      
      font-weight: 100;
      font-size: 15px;
    }
    .top_second{
      display: inline-block;
      margin-left: 20px;
    }
    .event_time{
      display: inline;
    }
    .event_description{
      text-align: justify;
      
    }
    .event_details{
      padding: 0;
      width: auto;
      height: auto;
      line-height: normal;
      background-color: transparent;
      color: #219f45!important;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
    }
  /* Home profile event section */
/* main */
/* footer */
footer{
  position: relative;
  width: 100%;
  background: #141d28;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;

}
footer .social_icon,footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
footer .social_icon li,footer .menu li{
  list-style: none;
}
footer .social_icon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .menu li a{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .social_icon li a:hover{
  transform: translateY(-10px);
  transition: 0.5s;
}
footer .menu li a:hover{
  opacity: 1;
}
footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../images/wave.png);
  background-size: 1000px 100px;
}
footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;

}
footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;

}
footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave_03 3s linear infinite;

}
footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_04 3s linear infinite;

}
@keyframes animateWave{
  0%{
    background-position-x:1000px ;
    
  }
  100%{
    background-position-x:0px ;

  }
}
@keyframes animateWave_02{
  0%{
    background-position-x:0px ;
    
  }
  100%{
    background-position-x:1000px ;

  }
}

/* footer */
